<div>
    <h2 id="page-heading">
        <span jhiTranslate="ormvahApp.courrierObject.home.title">Courrier Objects</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-courrier-object" [routerLink]="['/courrier-object/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ormvahApp.courrierObject.home.createLabel">
            Create a new Courrier Object
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="courrierObjects?.length === 0">
        <span jhiTranslate="ormvahApp.courrierObject.home.notFound">No courrierObjects found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="courrierObjects && courrierObjects.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.courrierObject.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.courrierObject.category">Category</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.courrierObject.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.courrierObject.updatedAt">Updated At</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.courrierObject.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.courrierObject.updatedBy">Updated By</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let courrierObject of courrierObjects ;trackBy: trackId">
                    <td><a [routerLink]="['/courrier-object', courrierObject.id, 'view']">{{ courrierObject.id }}</a></td>
                    <td>{{ courrierObject.title }}</td>
                    <td>{{ courrierObject.category }}</td>
                    <td>{{ courrierObject.createdAt | date:'medium' }}</td>
                    <td>{{ courrierObject.updatedAt | date:'medium' }}</td>
                    <td>{{ courrierObject.createdBy }}</td>
                    <td>{{ courrierObject.updatedBy }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/courrier-object', courrierObject.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/courrier-object', courrierObject.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(courrierObject)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
