<div>
    <h2 id="page-heading">
        <span jhiTranslate="ormvahApp.subdivision.home.title">Subdivisions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subdivision" [routerLink]="['/subdivision/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ormvahApp.subdivision.home.createLabel">
            Create a new Subdivision
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="subdivisions?.length === 0">
        <span jhiTranslate="ormvahApp.subdivision.home.notFound">No subdivisions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="subdivisions && subdivisions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.subdivision.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.subdivision.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.subdivision.updatedAt">Updated At</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.subdivision.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.subdivision.updatedBy">Updated By</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subdivision of subdivisions ;trackBy: trackId">
                    <td><a [routerLink]="['/subdivision', subdivision.id, 'view']">{{ subdivision.id }}</a></td>
                    <td>{{ subdivision.title }}</td>
                    <td>{{ subdivision.createdAt | date:'medium' }}</td>
                    <td>{{ subdivision.updatedAt | date:'medium' }}</td>
                    <td>{{ subdivision.createdBy }}</td>
                    <td>{{ subdivision.updatedBy }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/subdivision', subdivision.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/subdivision', subdivision.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(subdivision)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
