<div>
    <h2 id="page-heading">
        <span jhiTranslate="ormvahApp.voie.home.title">Voies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-voie" [routerLink]="['/voie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ormvahApp.voie.home.createLabel">
            Create a new Voie
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="voies?.length === 0">
        <span jhiTranslate="ormvahApp.voie.home.notFound">No voies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="voies && voies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.voie.libelle">Libelle</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.voie.createdAt">Created At</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.voie.updatedAt">Updated At</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.voie.createdBy">Created By</span></th>
                    <th scope="col" ><span jhiTranslate="ormvahApp.voie.updatedBy">Updated By</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voie of voies ;trackBy: trackId">
                    <td><a [routerLink]="['/voie', voie.id, 'view']">{{ voie.id }}</a></td>
                    <td>{{ voie.libelle }}</td>
                    <td>{{ voie.createdAt | date:'medium' }}</td>
                    <td>{{ voie.updatedAt | date:'medium' }}</td>
                    <td>{{ voie.createdBy }}</td>
                    <td>{{ voie.updatedBy }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/voie', voie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/voie', voie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(voie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
